// ブレイクポイント
$sp: 750px;
// @include contentWidth;
@mixin contentWidth{
	margin: 0 auto;
	max-width: 1320px;
	min-width: 1250px;
}

// メディアクエリ
// @include sp;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
.sp{
	display: none;
}
@include sp{
	.sp{
		display: inline-block;
	}
	.pc{
		display: none;
	}
}

// webフォンt
// @include gFontStick;
@mixin gFontStick{
	font-family: 'Kiwi Maru', serif;
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Stick', sans-serif;
}
// @include gFontNoto;
@mixin gFontNoto{
	font-family: 'Noto Sans JP', sans-serif;
}
// @include gFontKiwi;
@mixin gFontKiwi{
	font-family: 'Kiwi Maru', serif;
}

// カラー
$mainColor1: #02ac2d;
$mainColor2: #006118;
$brown1: #a15a17;
$yellow1: #fcf26e;
$blue1: #57bcff;
$red1: #ff5e5e;

// ボタンスタイル
// @include btnCmn;
@mixin btnCmn($width, $height, $fontSize){
	width: $width;
	height: $height;
	background: $yellow1;
	border-radius: $height;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $fontSize;
	color: #000;
	@include gFontStick;
}

.yet{
  position: relative;
  overflow: hidden;
	&::after{
    background: rgba($color: #000, $alpha: 0.5);
    content: "制作中";
		width: 100%;
		height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
	}
}


body{
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 18px;
	background: $mainColor1;
	border: 10px solid $brown1;
	box-sizing: border-box;
	@include gFontNoto;
	color: #fff;
}

// ヘッダー
.header{
	padding-top: 50px;
	@include contentWidth;
	text-align: center;
	position: relative;
	z-index: 9999;
}
.nav{
	margin: 0 auto;
	padding: 30px 100px;
	display: inline-block;
	background: #fff;
	border-radius: 10px;
	border: 4px solid $mainColor1;

	&__list{
		padding: 0;
		display: flex;
		justify-content: space-around;
	}

	&__item{
		list-style: none;
		color: 000;
		font-size: 22px;
		@include gFontStick;
		&:nth-of-type(n+2){
			margin-left: 3em;
		}
	}

	&__link{
		position: relative;
		color: #000;
		text-decoration: none;


		&::before{
			width: 0;
			height: 16px;
			content: "";
			display: inline-block;
			background: url(/assets/img/header_link_bg.png) no-repeat;
			background-size: auto 16px;
			position: absolute;
			bottom: -10px;
			left: 0;
			transition: all 0.3s;
		}
		&:active, &:visited{
			color: #000;
		}
		&:hover{
			color: $mainColor2;
			&::before{
				width: 100%;
			}
		}
		&--active{
			&::before{
				width: 100%;
			}
		}
	}
}
// 買い物かご
.basket{
	position: fixed;
	top: 65px;
	right: 100px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	&__inner{
		padding: 10px;
		width: 80px;
		height: 80px;
		position: relative;
		// vertical-align: middle;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__img{
		width: 65px;
	}
	&__unit{
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 0px;
		right: 0px;
		background: $red1;
		border-radius: 50%;
	}
}


// コンテンツ部
.main{
	margin: 0 auto;
	padding: 100px 50px;
	@include contentWidth;
  min-height: 70vh;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	&__inner{
		position: relative;
		z-index: 100;
	}
}


// フッター
.footer{
	&__img{
		padding-left: 100px;
		width: 300px;
	}

	&__inner{
		padding: 50px;
		background: $brown1;
		border-top: 4px solid #000;
	}
	&__text{
		text-align: center;
		font-size: 16px;
		color: #fff;
	}
}

